body {
  margin: 0;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  color: white;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
font-family: 'Chakra Petch', sans-serif;
    font-size: 3em;
}
#typing-text{
  font-size: 30px;
  color: #8ae600;
}
.topContainer {
  background-color: #28282B;
  position: relative;
  padding-top: 120px;
  color: white;
  padding-bottom: 10px;

}

.middle-container {
  text-align: center;
  background-color: #2C2C2C;
  padding-top: 200px;
  padding-bottom: 200px;
}


.bottom-container {
  text-align: center;
  background-color: white;
}

.third-container {
  padding-top: 100px;
  padding-bottom: 250px;
  background-color: #303030;
}

.fourth-container {
  background-color: #414141;
  padding-top: 90px;
  padding-bottom: 150px;
}

.fifth-container {
  background-color: #4C4C4C;
  padding-top: 150px;
  padding-bottom: 150px;
}

.bottom-container {
  text-align: center;
  background-color: #565656;
  padding-top: 90px;
  padding-bottom: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 410px;
  width: 350px;
  height: 350px;
}

.me {
  width: 300px;
  /* reduces image width to 50% of its original size */
  height: 300px;
  border-radius: 30%;
}
.york{
  height: 160px;
  width: 500px;
}

.java, .css, .c, .html, .matlab, .python {
  width: 100px;
  height: 100px;
}

.skill, .fastfood, .leader, .project {
  width: 25%;
  float: right;
}

.photographer {
  width: 25%;
  float: left;
}

.mail, .linkedin-profile {
  width: 50px;
  height: 50px;
}

.skill-row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 2;
}

.skill-srow, .experience-row, .project-row, .contact-me {
  line-height: 2;
  width: 50%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.leader-padding {
  margin-right: 250px;
}

.padding-crew {
  margin-right: 250px;
}

.photographer-padding {
  margin-left: 210px;
}

.plantlink {
  color: white;
}
.plantlink{
 background-color: #081f2d;
 border-radius: 29px;
 border: 1px solid #081F2D;
 color: white;
 font-size: 15px;
padding: 10px 45px;
 cursor: pointer;
 transition: 0.3s;
 }

 .plantlink:hover{
 background-color: white;
 color: #081F2D;
 border-color: #081F2D;
 transition: 0.3s;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth; /* Safari */
  -moz-scroll-behavior: smooth; /* Firefox */
  -ms-scroll-behavior: smooth; /* IE/Edge */
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  background-color:#767676;
  z-index: 1;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav li {
  display: inline-block;
}

.header-nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.header-nav li a:hover {
  background-color: #f2f2f2;
}
